@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'KBO-Dia-Gothic_light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border-radius: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #F3EFEA;
}

.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;

    .main {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .intro {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            .box {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;

                .profilePic {
                    width: 150px;
                    height: 150px;
                }

                .tit {
                    font-family: 'Cafe24ClassicType-Regular';
                    font-size: 18px;
                }

                .sub_tit {
                    font-family: 'Cafe24SsurroundAir';
                    font-size: 14px;
                    background-color: #F9D204;
                    padding: 10px;
                    border-radius: 7px;
                }
            }

            .txt_box {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                width: 350px;

                .tit {
                    font-family: 'KBO-Dia-Gothic_bold';
                    font-size: 40px;
                }

                .text {
                    font-family: 'KBO-Dia-Gothic_light';
                    font-size: 14px;
                    letter-spacing: -.5px;
                    word-break: keep-all;
                    line-height: 1.4;
                }

            }
        }
    }
}

.ProjectSlide {
    .swiper-wrapper {
        display: flex;

        .swiper_slide {
            width: 600px;
        }
    }
}