// fonts
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'KBO-Dia-Gothic_medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'KBO-Dia-Gothic_light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.pageBox {
    background-color: rgba(255, 255, 255, 0.5019607843);
    width: 50%;
    height: calc(100% - 60px);
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 20px 20px 15px rgba(174, 173, 173, 0.1607843137);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    overflow: scroll;

    .box {
        width: 100%;

        .title {
            font-family: 'KBO-Dia-Gothic_medium';
            text-transform: uppercase;
            font-size: 18px;
            line-height: 1.4;
            position: relative;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .title::before {
            content: '';
            width: 2px;
            height: 20px;
            background-color: #8B8B8B;
        }

        .txt {
            font-family: 'KBO-Dia-Gothic_light';
            font-size: 14px;
            line-height: 1.4;
            letter-spacing: -.5px;
            word-break: keep-all;
            padding: 10px;
        }

        .skl_box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            padding: 10px;

            .skl {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .skl_txt {
                    font-family: 'KBO-Dia-Gothic_light';
                    font-size: 12px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                .skl_txt::before {
                    content: '';
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: #F9D204;
                }
            }
        }
    }

}